venv/
src/data_collection/raw_data/FY2024_All_Contracts_Full_20241107_1.csv
src/data_collection/raw_data/FY2024_All_Contracts_Full_20241107_2.csv
src/data_collection/raw_data/FY2024_All_Contracts_Full_20241107_3.csv
src/data_collection/raw_data/FY2024_All_Contracts_Full_20241107_6.csv
src/data_collection/raw_data/FY2024_All_Contracts_Full_20241106.zip
src/data_collection/raw_data/FY2024_All_Contracts_Full_20241107_4.csv
src/data_collection/raw_data/FY2024_All_Contracts_Full_20241107_5.csv
notebooks/dataframes/usa_spend.txt
notebooks/dataframes/usa_spend.csv
notebooks/dataframes/usa_spend.txt
notebooks/created_dataframes/scores.csv
notebooks/created_dataframes/award_stock.txt
notebooks/created_dataframes/award_stock.csv
src/data_collection/usaspending_data.csv
venv/lib/python3.8/site-packages/tensorflow/libtensorflow_cc.so.2
venv/lib/python3.8/site-packages/clang/native/libclang.so
venv/notebooks/dataframes/usa_spend.txt
src/dataframes/full_predict.csv
venv/lib/python3.8/site-packages/tensorflow/libtensorflow_cc.so.2
venv/lib/python3.8/site-packages/tensorrt_libs/libnvinfer.so.10
venv/lib/python3.8/site-packages/tensorrt_libs/libnvinfer_builder_resource.so.10.7.0
venv/lib/python3.8/site-packages/tensorrt_libs/libnvinfer_builder_resource_win.so.10.7.0
new_env/bin
new_env/include
new_env/lib
new_env/lib64
new_env/share
new_env
.venv

